<div class="landing-container">



  <div class="title-section">

    <!-- Hero Section -->
    <div class="update-pill">
      <span class="update-text">Update: Heatmap Statistik</span>
      <a href="#" class="read-more">Weiterlesen →</a>
    </div>


    <h1>Nicht morgen.<br>Ziele heute erreichen.</h1>
    <p>Deine persönliche Erfolgsformel: Gewohnheiten aufbauen, Fortschritte visualisieren, Ziele erreichen. <br> <span> <strong>RHabit</strong> </span> macht's einfach.</p>

    <!-- Link Shortener Demo -->
    <div class="shortener-demo">
      <p-card styleClass="mt-3">
        <div class="shortened-link">
          <div class="link-info">
            <span>Werde Teil unserer Community</span>
            <small>rhabit.de/register</small>
          </div>
          <div class="stats">
            <p-badge value="52K Benutzer"></p-badge>
          </div>
        </div>
      </p-card>
    </div>
  </div>

  <app-scrolling-text></app-scrolling-text>


