<div class="landing-container">



  <div class="title-section">

    <h1>Nicht morgen:<br>Ziele heute erreichen</h1>
    <p>Deine persönliche Erfolgsformel: Gewohnheiten aufbauen, Fortschritte visualisieren, Ziele erreichen. <br> <span> <strong>RHabit</strong> </span> macht's einfach.</p>
    <!-- Link Shortener Demo -->
    <p-card styleClass="mt-3">
          <span>Werde Teil unserer Community</span>
          <small>rhabit.de/register</small>
        <div class="stats">
          <p-badge value="52K Benutzer"></p-badge>
        </div>
    </p-card>
  <app-scrolling-text></app-scrolling-text>
  </div>
</div>
