header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 20px;
    line-height: 100%;
    position: fixed;      
    top: 0;               
    left: 0;              
    width: 100%;  
    height: 1%; 
    padding-top: -30px;
    margin: 0;
    padding-bottom: 5%;     
    background-color: #7CAE9C;
    color: black;         
    text-align: center;   
    align-items: center;
    z-index: 1000; 
}
a{
    text-decoration: none;
}

.styledSVG{
    padding: 0%;
    width: 17.5%;
    height: auto;
    position: auto;
    background-color: #7CAE9C;
    text-decoration: none;

}

