<footer> 
    <section>
        
    </section>

    <section>
    </section>

    <section>
    </section>

    <section>
    </section>

    <nav>
        <ul>
            <li><a href="/frontend/src/app/login/login.component.html">Login</a></li>
            <li><a routerLink="/placeholder-site">Impressum</a></li>
            <li><a routerLink="/placeholder-site">Go to Login</a></li>
            <li><a href="/frontend/src/app/placeholder-site/placeholder-site.component.html">Kontakt</a></li>
            <li><a href="/frontend/src/app/placeholder-site/placeholder-site.component.html">Nutzungsbedingungen</a></li>
            <li><a href="/frontend/src/app/placeholder-site/placeholder-site.component.html">Rechtliche Dokumente</a></li>
        </ul>
    </nav>
</footer>