<footer> 
    <section>
        <object data="/frontend/public/Placeholder_view_vector.svg" type="image/svg+xml" width="200" height="200">
            Your browser does not support SVGs.
        </object>
    </section>

    <section>
    </section>

    <section>
    </section>

    <section>
    </section>

    <nav>
        <ul>
            <li><a routerLink="/login">Login</a></li>
            <li><a routerLink="/placeholder-site">Impressum</a></li>
            <li><a routerLink="/placeholder-site">Go to Login</a></li>
            <li><a routerLink="/placeholder-site">Kontakt</a></li>
            <li><a routerLink="/placeholder-site">Nutzungsbedingungen</a></li>
            <li><a routerLink="/placeholder-site">Rechtliche Dokumente</a></li>
            <!--To add the true links, go to the app.routes.ts and add a new route-->
        </ul>
    </nav>
</footer>