<footer>
    <section>
        <img src="assets/Placeholder_view_vector.svg" alt="UserImage" class="styledSVG">
    </section>

    <section>
    </section>

    <section>
    </section>

    <section>
    </section>

    <nav>
        <ul>
            <li><a routerLink="/imprint">Impressum</a></li>
            <li><a routerLink="/contact">Kontakt</a></li>
            <li><a routerLink="/terms-of-service">Nutzungsbedingungen</a></li>
            <li><a routerLink="/privacy-policy">Datenschutzerklärung</a></li>
            <!--To add the true links, go to the app.routes.ts and add a new route-->
        </ul>
    </nav>
</footer>
