<p-menubar [model]="items" [autoDisplay]="true">
  <ng-template pTemplate="start">
    <img
      src="../../../assets/Placeholder_view_vector.svg"
      alt="logo"
      height="40"
      class="p-mr-2"
    />
  </ng-template>

  <ng-template pTemplate="end">
    <div class="desktopButtons">
      <p-button
        [style]="{ 
        'margin-right': '1rem', 
        }"
        label="Login"
        icon="pi pi-sign-in"
        variant="outlined"
        routerLink="/login"
        class="desktop-button"
      >
      </p-button>
      <p-button
        severity="info"
        icon="pi pi-user-plus"
        variant="outlined"
        label="Registrieren"
        class="desktop-button"
        routerLink="/register"
      ></p-button>

      <p-button
        [style]="{ 
        'margin-right': '1rem', 
        }"
        class="mobile-button"
        icon="pi pi-sign-in"
        variant="outlined"
        routerLink="/login"
      >
      </p-button>

      <p-button
        class="mobile-button"
        icon="pi pi-user-plus"
        severity="info"
        variant="outlined"
        routerLink="/register"
      >
      </p-button>
    </div>
  </ng-template>
</p-menubar>
