<p-menubar [model]="items" [autoDisplay]="true">
  <ng-template pTemplate="start">
    <img
      src="../../../assets/Placeholder_view_vector.svg"
      alt="logo"
      height="40"
      class="p-mr-2"
    />
  </ng-template>
  <ng-template pTemplate="end">
    <p-button
      [style]="{ 
        'margin-right': '1rem', 
        }"
      label="Login"
      variant="outlined"
      routerLink="/login"
    >
    </p-button>
    <p-button
      styleClass="m-1"
      severity="info"
      variant="outlined"
      label="Registrieren"
      routerLink="/register"
    ></p-button>
  </ng-template>
</p-menubar>
