
.custom-menubar .p-menubar-root-list {
    margin-left: auto;
}

.logo img {
    height: 40px;
  }

.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
}

.p-menubar {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    min-width: 12svw;
}




.spacer{
    flex: 1;
}

.p-inputSwitch {
    margin-left: 16px;
  }