<div class="loginform">
<p-card 
        header="Login"
        [style]="{ 
            width: '30rem', 
            overflow: 'hidden', 
            }">
    <form
        (ngSubmit)="onSubmit()"
        [noValidate]="false"
    >
    <br>  
    <p-floatlabel variant="on">
            <input 
                type="email"
                pInputText
                id="loginEmail"
                [(ngModel)]="loginEmail"
                [ngModelOptions]="{standalone: true}"
                autocomplete="off" 
                [required]="true"
                />
            <label for="loginEmail">E-Mail</label>
        </p-floatlabel>
        <br>
        <p-floatlabel variant="on">
            <input 
            type="password"
            pInputText
            id="loginPassword" 
            [(ngModel)]="loginPassword"
            [ngModelOptions]="{standalone: true}"
            autocomplete="off"
            [required]="true"
             />
            <label for="loginPassword">Passwort</label>
        </p-floatlabel>
        <br>
        <button
            label="Einloggen"
            [size]="'large'"
            type="submit"
            pButton
            >
        </button>

    </form>

    <br><br>
    <a href="/reset-password">Passwort vergessen?</a>
    
    <p-divider type="solid" />

    <button
        label="Registrieren"
        [size]="'large'"
        routerLink="/register"
        pButton
        >
    </button>
</p-card>
</div>