.container {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
}


.form-container {
    display: grid;
    grid-template-columns: 1fr 5px 1fr; /* Three columns: login, divider, register */
    gap: 20px; /* Space between the forms */
    max-width: 900px;
    width: 100%;
}


/* Add responsiveness for smaller screens */
@media (max-width: 768px) {
    .form-container {
        grid-template-columns: 1fr; /* Stacks the forms on top of each other on smaller screens */
    }
    .submit-btn {
        font-size: 14px;
    }
}
