<ngx-fast-marquee
  [speed]="'medium'"
  [direction]="'left'"
  [pauseOnHover]="true"
>
  <!-- Generate quote cards -->
  <div *ngFor="let quote of quotes" class="marquee-card">
    <p-fieldset>
      <ng-template #header>
        <div class="header-container">
          <p-avatar
            [image]="quote.image"
            shape="circle" />
          <strong>{{ quote.author }}</strong>
        </div>
      </ng-template>
      <p>{{ quote.text }}</p>
    </p-fieldset>
  </div>
</ngx-fast-marquee>
