<ngx-fast-marquee
  [speed]="'medium'"
  [direction]="'left'"
  [autoFill]="true"
  [pauseOnHover]="true">
  <p-fieldset legend="Napoleon Hill" class="marquee-card">
    <p class="m-0">
      <i>Warte nicht. Die Zeit wird niemals genau richtig sein.</i>
    </p>
  </p-fieldset>
  <p-fieldset legend="Mahatma Gandhi" class="marquee-card">
    <p class="m-0">
      <i>Sei du selbst die Veränderung, die du dir wünschst für diese Welt.</i>
    </p>
  </p-fieldset>
  <p-fieldset legend="Helen Keller" class="marquee-card">
    <p class="m-0">
      <i>Das Leben ist entweder ein gewagtes Abenteuer oder nichts.</i>
    </p>
  </p-fieldset>
  <p-fieldset legend="Bertolt Brecht" class="marquee-card">
    <p class="m-0">
      <i>Wer kämpft, kann verlieren. Wer nicht kämpft, hat schon verloren.</i>
    </p>
  </p-fieldset>
  <p-fieldset legend="George Eliot" class="marquee-card">
    <p class="m-0">
      <i>Es ist nie zu spät, das zu werden, was man hätte sein können.</i>
    </p>
  </p-fieldset>
  <p-fieldset legend="Walt Disney" class="marquee-card">
    <p class="m-0">
      <i>Alle Träume können wahr werden, wenn wir den Mut haben, ihnen zu folgen.</i>
    </p>
  </p-fieldset>
</ngx-fast-marquee>
