ngx-fast-marquee {
  font-size: 18px;
  font-family: Arial, sans-serif;
}

ngx-fast-marquee span {
  margin-right: 20px;
}

.marquee-card {
  margin-right: 20px;
}

.marquee-card:last-child {
  margin-right: 0; /* Optional, um den letzten Kartenrand zu entfernen */
}
