<div class="imprint-container">
  <div class="mb-4 p-8 flex items-center justify-center w-full">
    <p-card [style]="{ width: '40rem', overflow: 'hidden' }">
      <ng-template #title>Impressum</ng-template>
      <ng-template #subtitle>Angaben gemäß § 5 TMG</ng-template>
      <p>
        RHabit GbR <br>
        Musterstraße 1 <br>
        12345 Musterstadt <br>
        <br>
        Vertretungsberechtigte Gesellschafter: Max Mustermann und Maria Mustermann <br>
        <br>
        <strong>Kontakt</strong><br>
        Telefon: 0123/456789 <br>
        E-Mail: rhabit&#64;beispiel.de <br>
        <br>
        <strong>Umsatzsteuer-ID</strong><br>
        Umsatzsteuer-Identifikationsnummer gemäß § 27a UStG: DE 123456789 <br>
        <br>
        <strong>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV</strong><br>
        Max Mustermann<br>
        Musterstraße 1<br>
        12345 Musterstadt<br>
        <br>
        <strong>Haftungsausschluss</strong><br>
        Die Inhalte dieser Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte kann jedoch keine Gewähr übernommen werden.<br>
        <br>
        <strong>Urheberrecht</strong><br>
        Die Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. © 2025 RHabit GbR. Alle Rechte vorbehalten.
      </p>
    </p-card>
  </div>
</div>

