/* Default (Light Mode) styles */
@import "primeicons/primeicons.css";
@import "@fontsource/roboto";

*{
  font-family: "Roboto", sans-serif; /* sans-serif as fallback */
}

body {
  width: 80vw;
  justify-self: center;
  margin:auto; /* Firefox specific fix */
}
